@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanalei", sans-serif;
  line-height: 1.6;
  direction: ltr;
}

ul {
  padding: 0;
}

a {
  color: #003D7C;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover, a:focus {
  color: #000;
  outline: none;
}

strong,
b {
  font-weight: bold;
}

h1 {
  font-size: 55px;
}
h1.headline {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
}
h2.headline {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

h3 {
  font-size: 45px;
}
h3.headline {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

h4 {
  font-size: 40px;
}
h4.headline {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

h5 {
  font-size: 35px;
}
h5.headline {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

.text-1 {
  font-size: 1px;
}

.text-2 {
  font-size: 2px;
}

.text-3 {
  font-size: 3px;
}

.text-4 {
  font-size: 4px;
}

.text-5 {
  font-size: 5px;
}

.text-6 {
  font-size: 6px;
}

.text-7 {
  font-size: 7px;
}

.text-8 {
  font-size: 8px;
}

.text-9 {
  font-size: 9px;
}

.text-10 {
  font-size: 10px;
}

.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-14 {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px;
}

.text-17 {
  font-size: 17px;
}

.text-18 {
  font-size: 18px;
}

.text-19 {
  font-size: 19px;
}

.text-20 {
  font-size: 20px;
}

.text-21 {
  font-size: 21px;
}

.text-22 {
  font-size: 22px;
}

.text-23 {
  font-size: 23px;
}

.text-24 {
  font-size: 24px;
}

.text-25 {
  font-size: 25px;
}

.text-26 {
  font-size: 26px;
}

.text-27 {
  font-size: 27px;
}

.text-28 {
  font-size: 28px;
}

.text-29 {
  font-size: 29px;
}

.text-30 {
  font-size: 30px;
}

.text-31 {
  font-size: 31px;
}

.text-32 {
  font-size: 32px;
}

.text-33 {
  font-size: 33px;
}

.text-34 {
  font-size: 34px;
}

.text-35 {
  font-size: 35px;
}

.text-36 {
  font-size: 36px;
}

.text-37 {
  font-size: 37px;
}

.text-38 {
  font-size: 38px;
}

.text-39 {
  font-size: 39px;
}

.text-40 {
  font-size: 40px;
}

.text-41 {
  font-size: 41px;
}

.text-42 {
  font-size: 42px;
}

.text-43 {
  font-size: 43px;
}

.text-44 {
  font-size: 44px;
}

.text-45 {
  font-size: 45px;
}

.text-46 {
  font-size: 46px;
}

.text-47 {
  font-size: 47px;
}

.text-48 {
  font-size: 48px;
}

.text-49 {
  font-size: 49px;
}

.text-50 {
  font-size: 50px;
}

.text-51 {
  font-size: 51px;
}

.text-52 {
  font-size: 52px;
}

.text-53 {
  font-size: 53px;
}

p {
  line-height: 28px;
  font-weight: 400;
}

@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Thin.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Hanalei";
  src: url("../fonts/HanaleiFill/hanaleifill-regular-webfont.woff2") format("woff2"), url("../fonts/HanaleiFill/hanaleifill-regular-webfont.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.woff") format("woff");
  font-weight: 400;
}
.btn {
  padding: 10px 25px;
  border-radius: 0px;
  font-weight: 500;
}
.btn:focus {
  box-shadow: none;
}
.btn.btn-primary {
  background-color: #003D7C;
  border-color: #003D7C;
}
.btn.btn-primary:focus, .btn.btn-primary:hover {
  background-color: #000 !important;
}
.btn.btn-white {
  background-color: #fff;
  color: #06BDC7;
  border-color: #fff;
}
.btn.btn-white:focus, .btn.btn-white:hover {
  background-color: #f5f5f5 !important;
}
.btn.btn-secondary {
  background-color: #06BDC7;
  border-color: #06BDC7;
}
.btn.btn-secondary:focus, .btn.btn-secondary:hover {
  background-color: #000 !important;
}
.btn.font-demi {
  font-weight: 600;
}
.btn:disabled {
  opacity: 0.6;
  cursor: no-drop;
}

.container-fluid {
  width: calc((100% - 1260px) / 2 + 1260px) !important;
  margin-right: 0;
  max-width: initial;
  padding: 0;
}

/* This CSS will print because %message-shared is extended. */
.success-sh, .message-sh {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success-sh {
  border-color: green;
}

@media (max-width: 576px) {
  .space.space-1x {
    height: 25px;
  }
  .space.space-2x {
    height: 50px;
  }
  .space.space-3x {
    height: 75px;
  }
  .space.space-4x {
    height: 100px;
  }
}
@media (min-width: 992px) {
  .container-alpha {
    max-width: 1000px;
    padding-left: calc((100% - 960px) / 2);
    padding-right: 15px;
  }
  .container-fluid {
    width: calc((100% - 960px) / 2 + 960px) !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (min-width: 1200px) {
  .container-alpha {
    max-width: 1250px;
    padding-left: calc((100% - 1140px) / 2);
    padding-right: 15px;
  }
  .container-fluid {
    width: calc((100% - 1140px) / 2 + 1140px) !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1260px;
  }
  .container-fluid {
    width: calc((100% - 1260px) / 2 + 1260px) !important;
    margin-right: 0;
    max-width: initial;
  }
  .container-alpha {
    max-width: 1530px;
    padding-left: calc((100% - 1260px) / 2);
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .container-alpha {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .container-fluid {
    width: calc((100% - 719px) / 2 + 719px) !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (min-width: 1400px) {
  .container-fluid {
    width: calc((100% - 1237px) / 2 + 1237px) !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (max-width: 991px) {
  .container-fluid {
    width: 100% !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    width: 100% !important;
  }
}
@media (max-width: 575px) {
  .container-fluid {
    width: 100% !important;
    margin-right: 0;
    max-width: initial;
  }
}
@keyframes Orbit {
  from {
    transform: rotate(0deg) translateX(5%) rotate(0deg) translate3d(-50%, -50%, 0);
  }
  to {
    transform: rotate(360deg) translateX(5%) rotate(-360deg) translate3d(-50%, -50%, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0) translate3d(-50%, -50%, 0);
  }
  20%, 80% {
    transform: translate3d(0, 4px, 0) translate3d(-50%, -50%, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(0, 4px, 0) translate3d(-50%, -50%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 1px, 0) translate3d(-50%, -50%, 0);
  }
}
@keyframes vibrate {
  0.50%, 10%, 20%, 30%, 40%, 50% {
    transform: translate3d(1.5px, 0, 0);
  }
  5%, 15%, 25%, 35%, 45% {
    transform: translate3d(-1.5px, 0, 0);
  }
  100% {
    transform: translate3d(1.5px, 0, 0);
  }
}
@keyframes topbar-x {
  0% {
    top: 0px;
    transform: rotate(0deg);
  }
  45% {
    top: 6px;
    transform: rotate(145deg);
  }
  75% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
@keyframes topbar-back {
  0% {
    top: 6px;
    transform: rotate(135deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    top: 0px;
    transform: rotate(0);
  }
}
@keyframes bottombar-x {
  0% {
    bottom: 0px;
    transform: rotate(0deg);
  }
  45% {
    bottom: 6px;
    transform: rotate(-145deg);
  }
  75% {
    transform: rotate(-130deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}
@keyframes bottombar-back {
  0% {
    bottom: 6px;
    transform: rotate(135deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    bottom: 0px;
    transform: rotate(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.out-top {
  animation: rotate 20s linear infinite;
  transform-origin: 13px 25px;
}

.in-top {
  animation: rotate 10s linear infinite;
  transform-origin: 13px 25px;
}

.out-bottom {
  animation: rotate 25s linear infinite;
  transform-origin: 84px 93px;
}

.in-bottom {
  animation: rotate 15s linear infinite;
  transform-origin: 84px 93px;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #08236e;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.3s ease;
  z-index: 101;
  cursor: pointer;
  color: #fff;
}
#return-to-top:hover {
  background: rgba(8, 35, 110, 0.6588235294);
}
#return-to-top a {
  color: #fff;
  margin: 0;
  position: relative;
  left: 18px;
  top: 13px;
  transition: all 0.3s ease;
}
#return-to-top a:hover {
  color: #fff;
  top: 11px;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(233, 229, 229);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(175, 101, 101);
  border-radius: 100vw;
}

.vertical-scroll::-webkit-scrollbar-track {
  background-color: rgb(233, 229, 229);
  border-radius: 100vw;
}

.vertical-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(175, 101, 101);
  border-radius: 100vw;
}

body::-webkit-scrollbar-track {
  background-color: rgb(230, 233, 229);
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 100vw;
}

/****Loading****/
.aivam-loading_container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.aivam-loading_container .aivam-loading {
  width: 50px;
  height: 50px;
  margin: 2rem;
  border-radius: 50%;
  border: 7px solid rgba(175, 175, 175, 0.493);
  border-top-color: #252aac;
  animation: 1.5s spin infinite linear;
  position: absolute;
  left: calc(50% - 57px);
  top: 35%;
}

.textTitle {
  text-anchor: middle;
}

#app-activities-cards-container > div:first-child {
  width: 50%;
}
#app-activities-cards-container > div:first-child .card {
  flex-direction: row;
  height: 100%;
}
#app-activities-cards-container > div:first-child img {
  width: 40%;
  height: 100%;
}
@media (max-width: 576px) {
  #app-activities-cards-container > div:first-child {
    width: initial;
  }
  #app-activities-cards-container > div:first-child .card {
    flex-direction: column;
    height: initial;
  }
  #app-activities-cards-container > div:first-child img {
    width: initial;
    height: 275px;
  }
}

.img-organisation {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  position: relative;
  top: -2rem;
  width: 90%;
}

.profil-organisation {
  text-align: center;
  position: relative;
  padding: 1rem 0rem 0rem 2rem;
  top: -2rem;
}
.profil-organisation.textdetail {
  text-align: initial;
}

.temoignage-slick {
  margin: 0 auto;
  width: 700px;
}
.temoignage-slick .slick-slide {
  display: flex;
  justify-content: center;
}
.temoignage-slick .slick-prev:before,
.temoignage-slick .slick-next:before {
  font-size: 40px;
  color: #000;
}
.temoignage-slick .slick-prev {
  left: -40px;
}
.temoignage-slick .slick-next {
  right: -40px;
}
.temoignage-slick .slick-arrow {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

* {
  font-family: Julee;
}

body {
  background-color: rgb(29, 29, 31);
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: inherit;
}

.button {
  position: relative;
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  border-radius: 9999px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Matter;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fafaf6;
  letter-spacing: -0.06em;
}
.button:hover .button-bg {
  transform: scale(0.95);
}
.button:hover .button-inner-static {
  opacity: 0;
  transform: translateY(-70%);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}
.button:hover .button-inner-hover {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.button-yellow {
  background-color: transparent;
  color: #1d1d1f;
}

.button-bg {
  overflow: hidden;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.button-bg-layers {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -60%;
  aspect-ratio: 1/1;
  width: max(200%, 10rem);
}

.button-inner {
  position: relative;
}

.button-bg-layer {
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
}
.button-bg-layer.-purple {
  background-color: rgb(163, 116, 255);
}
.button-bg-layer.-turquoise {
  background-color: rgb(23, 241, 209);
}
.button-bg-layer.-yellow {
  background-color: rgb(255, 208, 116);
}

.button-inner,
.button-inner-hover,
.button-inner-static {
  pointer-events: none;
  display: block;
}

.button-inner-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(70%);
}

.button:hover .button-bg-layer,
.button-round:hover .button-bg-layer {
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}

.button:hover .button-bg-layer-1,
.button-round:hover .button-bg-layer-1 {
  transform: scale(1);
}

.button:hover .button-bg-layer-2,
.button-round:hover .button-bg-layer-2 {
  transition-delay: 0.15s;
  transform: scale(1);
}

.button:hover .button-bg-layer-3,
.button-round:hover .button-bg-layer-3 {
  transition-delay: 0.3s;
  transform: scale(1);
}

.button-yellow .button-bg {
  --tw-border-opacity: 1;
  border-color: rgb(255, 208, 116);
  --tw-bg-opacity: 1;
  background-color: rgb(255, 208, 116);
}

.home-cta-scroll-cta {
  margin-left: -3.5rem;
  margin-bottom: -3.5rem;
}

.home-cta-scroll-cta {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 17.5rem;
  width: 17.5rem;
  cursor: pointer;
}

.home-cta-scroll-cta-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 17.5rem;
  width: 17.5rem;
}

.home-cta-scroll-cta > * {
  pointer-events: none;
}

.home-cta-scroll-cta-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 17.5rem;
  width: 17.5rem;
  will-change: transform;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-cta-scroll-cta-background-inner {
  border-radius: 9999px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: max(1px, 0.0625rem) solid #a374ff;
  transition: 0.5s background-color linear, 0.5s transform cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(1);
}

.home-cta-scroll-cta-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
}

.home-cta-scroll-cta-arrow-inner {
  position: relative;
  overflow: hidden;
  height: 3rem;
}

.home-cta-scroll-cta-arrow-static {
  transform: translateY(0);
}

.home-cta-scroll-cta-arrow img {
  height: 1.75rem;
  width: 1.5rem;
}

.home-cta-scroll-cta-arrow-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transform: translateY(-100%);
}

.home-cta-scroll-cta:hover .home-cta-scroll-cta-background-inner {
  --tw-bg-opacity: 1;
  background-color: rgba(163, 116, 255, var(--tw-bg-opacity));
  transition: 1.5s transform cubic-bezier(0.19, 1, 0.22, 1), 0.6s background-color linear;
  transform: scale(0.3);
}

.home-cta-scroll-cta:hover .home-cta-scroll-cta-arrow-static {
  transition: 1.5s transform cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(120%);
}

.home-cta-scroll-cta:hover .home-cta-scroll-cta-arrow-hover {
  transition: 1.5s transform cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0);
}

.stacked {
  display: grid;
  place-items: center;
  isolation: isolate;
}

.stacked > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.stacked > .media {
  z-index: -1;
}

.blob-container {
  width: 100%;
  height: 100%;
  position: relative;
  inset: 0;
}

#blob {
  height: 500px;
  aspect-ratio: 1;
  position: fixed;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.4;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  -webkit-backdrop-filter: blur(300px);
          backdrop-filter: blur(300px);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
.carousel {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.carousel-itema {
  --items: 10;
  --width: clamp(250px, 30vw, 600px);
  --height: clamp(250px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 40%);
  --rot: calc(var(--active) * 80deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.carousel-itema .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: "Orelo-sw-db", serif;
}
.carousel-itema .carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
}
.carousel-itema .title {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.carousel-itema .num {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 80px);
}
.carousel-itema img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.layout:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}
.layout .box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #fff;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 28px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orelo-sw-db", serif;
  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 25px;
  color: #fff;
  opacity: 0.4;
}
.social a {
  display: inline-block;
  margin-left: 3px;
}
.social svg {
  --fill: #fff;
  width: 35px;
  height: 35px;
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

.opaaa {
  position: relative;
  z-index: 2;
  opacity: 1;
}

.opaaa span:nth-child(2n+1) {
  opacity: 0 !important;
}

.nav-color {
  position: absolute;
  z-index: 1;
  --tw-bg-opacity: 1;
  background-color: rgb(153, 135, 255);
  width: 100%;
  left: 0;
  top: 0.365em;
  height: 0.15em;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1s cubic-bezier(0.4, 0, 0, 1);
}

.nav-green {
  --tw-bg-opacity: 1;
  background-color: rgb(0, 224, 30);
}

.nav-red {
  --tw-bg-opacity: 1;
  background-color: rgb(224, 45, 0);
}

.nav-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(247, 243, 27);
}

.nav:hover .nav-color {
  transform-origin: left;
  transform: scaleX(1);
}
.nav:hover .nav-yellow {
  transition-delay: 0s;
}
.nav:hover .nav-green {
  transition-delay: 0.1s;
}
.nav:hover .nav-red {
  transition-delay: 0.25s;
}/*# sourceMappingURL=main.css.map */