.btn {
  padding: 10px 25px;
  border-radius: 0px;
  font-weight: $font-weight-medium;
  &:focus {
    box-shadow: none;
  }
  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:focus,
    &:hover {
      background-color: $primary-dark !important;
    }
  }
  &.btn-white {
    background-color: #fff;
    color: $secondary;
    border-color: #fff;
    &:focus,
    &:hover {
      background-color: #f5f5f5 !important;
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    &:focus,
    &:hover {
      background-color: $secondary-dark !important;
    }
  }
  &.font-demi {
    font-weight: 600;
  }

  &:disabled {
    opacity: 0.6;
    cursor: no-drop;
  }
}

// Slick navigation
.container-fluid {
  width: calc(((100% - 1260px) / 2) + 1260px) !important;
  margin-right: 0;
  max-width: initial;
  padding: 0;
}

/* This CSS will print because %message-shared is extended. */
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
.message-sh {
  @extend %message-shared;
}

.success-sh {
  @extend %message-shared;
  border-color: green;
}
// What the above code does is tells .message, .success, .error, and .warning to behave just like %message-shared. That means anywhere that %message-shared shows up, .message, .success, .error, & .warning will too. The magic happens in the generated CSS, where each of these classes will get the same CSS properties as %message-shared. This helps you avoid having to write multiple class names on HTML elements.