html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
  line-height: 1.6;
  direction: $direction;
}

ul {
  padding: 0;
}
a {
  color: $primary;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  &:hover,
  &:focus {
    color: $primary-dark;
    outline: none;
  }
}

strong,
b {
  font-weight: bold;
}

@for $i from 1 to 6 {
  h#{$i} {
    font-size: #{60px - ($i * 5)};
    &.headline {
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 10px;
    }
  }
}

@for $i from 1 to 54 {
  .text-#{$i} {
    font-size: #{0px + ($i)};
  }
}
p {
  line-height: 28px;
  font-weight: 400;
}

//========================================
//== MAIN FONTS
//========================================

@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Thin.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "SmoochSans";
  src: url("../fonts/SmoochSans/SmoochSans-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Hanalei";
  src: url("../fonts/HanaleiFill/hanaleifill-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/HanaleiFill/hanaleifill-regular-webfont.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.woff") format("woff");
  font-weight: 400;
}
