$primary: #003D7C;
$primary-dark : #000;
$secondary: #06BDC7;
$secondary-dark:#000;
$orange:#FFB260;
$green: #abcd52;
$blue: #2B9CB8;
$blue-dark: #228faa;
$mauve: #eb4ba5;
$headerHeight: 55px;
$sidebarWidth: 220px;
$width:"30%";
$top:0;
$left: left;
$right: right; 
$direction: ltr;  
$mode: 'prod';

// Colors
$color-1: #0080ff;
$color-2: #7c0000;
$color-3: #697c00;
$color-4: #fbff00;
$color-5: #000000;
$color-6: #ea00ff;

$font-family: 'Hanalei', sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 700;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  xxl: 1400px,
);

