.textTitle {
  text-anchor: middle;
}
#app-activities-cards-container > div:first-child {
  width: 50%;
  .card {
    flex-direction: row;
    height: 100%;
  }
  img{
    width: 40%;
    height: 100%;
  }
  @media (max-width:576px){
    width: initial;
    .card {
        flex-direction: column;
        height: initial;
    }
    img{
    width: initial;
    height: 275px;
  }
  }
}