#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #08236e;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.3s ease;
  z-index: 101;
  cursor: pointer;
  color: #fff;
  &:hover {
    background: #08236ea8;
  }
  a {
    color: #fff;
    margin: 0;
    position: relative;
    left: 18px;
    top: 13px;
    transition: all 0.3s ease;
    &:hover {
      color: #fff;
      top: 11px;
    }
  }
}