/****Loading****/
.aivam-loading_container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  .aivam-loading {
    width: 50px;
    height: 50px;
    margin: 2rem;
    border-radius: 50%;
    border: 7px solid rgba(175, 175, 175, 0.493);
    border-top-color: #252aac;
    animation: 1.5s spin infinite linear;
    position: absolute;
    left: calc( 50% - 57px);
    top: 35%;
  }
}