.img-organisation {
  @include centerx;
  position: relative;
  top: -2rem;
  width: 90%;
}
.profil-organisation {
  text-align: center;
  position: relative;
  padding: 1rem 0rem 0rem 2rem;
  top: -2rem;
  &.textdetail {
    text-align: initial;
  }
}