@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
* {
  font-family: Julee;
}
body {
  background-color: rgb(29, 29, 31);
  overflow-x: hidden; 
  min-height: 100vh;
}
a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}
.button {
  position: relative;
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  border-radius: 9999px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Matter;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fafaf6;
  letter-spacing: -0.06em;
  &:hover {
    .button-bg {
      transform: scale(0.95);
    }
    .button-inner-static {
      opacity: 0;
      transform: translateY(-70%);
      transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 0.3s linear;
    }
    .button-inner-hover {
      opacity: 1;
      transform: translateY(0);
      transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
.button-yellow {
  background-color: transparent;
  color: #1d1d1f;
}
.button-bg {
  overflow: hidden;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.button-bg-layers {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -60%;
  aspect-ratio: 1 / 1;
  width: max(200%, 10rem);
}
.button-inner {
  position: relative;
}
.button-bg-layer {
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  &.-purple {
    background-color: rgba(163, 116, 255, 1);
  }
  &.-turquoise {
    background-color: rgba(23, 241, 209, 1);
  }
  &.-yellow {
    background-color: rgba(255, 208, 116, 1);
  }
}

.button-inner,
.button-inner-hover,
.button-inner-static {
  pointer-events: none;
  display: block;
}
.button-inner-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(70%);
}

.button:hover .button-bg-layer,
.button-round:hover .button-bg-layer {
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}
.button:hover .button-bg-layer-1,
.button-round:hover .button-bg-layer-1 {
  transform: scale(1);
}
.button:hover .button-bg-layer-2,
.button-round:hover .button-bg-layer-2 {
  transition-delay: 0.15s;
  transform: scale(1);
}
.button:hover .button-bg-layer-3,
.button-round:hover .button-bg-layer-3 {
  transition-delay: 0.3s;
  transform: scale(1);
}
.button-yellow .button-bg {
  --tw-border-opacity: 1;
  border-color: rgba(255, 208, 116, 1);
  --tw-bg-opacity: 1;
  background-color: rgba(255, 208, 116, 1);
}
//
.home-cta-scroll-cta {
  margin-left: -3.5rem;
  margin-bottom: -3.5rem;
}
.home-cta-scroll-cta {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 17.5rem;
  width: 17.5rem;
  cursor: pointer;
}
.home-cta-scroll-cta-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 17.5rem;
  width: 17.5rem;
}
.home-cta-scroll-cta > * {
  pointer-events: none;
}
.home-cta-scroll-cta-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 17.5rem;
  width: 17.5rem;
  will-change: transform;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-cta-scroll-cta-background-inner {
  border-radius: 9999px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: max(1px, 0.0625rem) solid #a374ff;
  transition: 0.5s background-color linear,
    0.5s transform cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(1);
}
.home-cta-scroll-cta-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
}
.home-cta-scroll-cta-arrow-inner {
  position: relative;
  overflow: hidden;
  height: 3rem;
}
.home-cta-scroll-cta-arrow-static {
  transform: translateY(0);
}
.home-cta-scroll-cta-arrow img {
  height: 1.75rem;
  width: 1.5rem;
}
.home-cta-scroll-cta-arrow-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transform: translateY(-100%);
}
.home-cta-scroll-cta:hover .home-cta-scroll-cta-background-inner {
  --tw-bg-opacity: 1;
  background-color: rgba(163, 116, 255, var(--tw-bg-opacity));
  transition: 1.5s transform cubic-bezier(0.19, 1, 0.22, 1),
    0.6s background-color linear;
  transform: scale(0.3);
}
.home-cta-scroll-cta:hover .home-cta-scroll-cta-arrow-static {
  transition: 1.5s transform cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(120%);
}
.home-cta-scroll-cta:hover .home-cta-scroll-cta-arrow-hover {
  transition: 1.5s transform cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0);
}
.stacked{
    display: grid;
    place-items: center;
    isolation: isolate;
}
.stacked > * {
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.stacked > .media {
    z-index: -1;

}
.blob-container{
    width: 100%;
    height: 100%;
    position: relative;
    inset: 0;
}
#blob {
  height: 500px;
  aspect-ratio: 1;
  position: fixed;
  
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.4;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(300px);
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}