//
// all ScrollBar
//
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
::-webkit-scrollbar-track {
  background-color: rgb(233, 229, 229);
  border-radius: 100vw;
  // margin-block:1rem; // add margin top and buttom
}

::-webkit-scrollbar-thumb {
  background-color: rgb(175, 101, 101);
  border-radius: 100vw;
}

//
// vertical ScrollBar
//

.vertical-scroll::-webkit-scrollbar-track {
  background-color: rgb(233, 229, 229);
  border-radius: 100vw;
  // margin-block:1rem; // add margin top and buttom
}
.vertical-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(175, 101, 101);
  border-radius: 100vw;
}

//
// horizontal ScrollBar
//
body::-webkit-scrollbar-track {
  background-color: rgb(230, 233, 229);
  border-radius: 100vw;
  // margin-block:1rem; // add margin top and buttom
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 100vw;
}