.temoignage-slick {
  margin: 0 auto;
  width: 700px;
  // Center img inside item block slick
  .slick-slide {
    display: flex;
    justify-content: center;
  }
  .slick-prev,
  .slick-next {
    &:before {
      font-size: 40px;
      color: #000;
    }
  }
  .slick-prev{
    left: -40px;
  }
  .slick-next{
    right: -40px;
  }
  .slick-arrow {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
